.container {
  display: flex;
  gap: 4rem;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 1rem;
    left: 3rem;
    &__heading > p {
      background-color: #e5eeed;
      font-size: 1.7rem;
      padding: 1rem;
      width: 20%;
      border-radius: 30px;
      display: flex;
      justify-content: center;
    }
    &__header > h1 {
      font-family: Gilroy-Medium;
      font-weight: 500;
      font-size: 45px;
      margin: 15px;
    }
    &__text > h2 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
      padding-bottom: 0;
      font-family: "Poppins", sans-serif;
      color: #627680;
      justify-content: center;
      align-items: center;
    }
  }
  &__right {
    &__image {
      height: 480px;
      width: 490px;
      position: absolute;
      border-radius: 10px;
      left: 3rem;
    }
    .arrows {
      display: flex;
      gap: 1.5rem;
      &__left {
        position: absolute;
        top: 15rem;
        left: 3.5rem;
        opacity: 1;
        cursor: pointer;
      }
      &__right {
        position: absolute;
        top: 15rem;
        right: 9.5rem;
        transform: rotate(180deg);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    display: flex;
    flex-direction: column;

    &__left {
      &__heading > p {
        margin-top: 42rem;
        font-size: 22px;
        margin-left: 40px;
        padding: 1rem;
      }
      &__header > h1 {
        font-size: 32px;
        margin-left: 40px;
      }
      &__text > h2 { 
        margin-left: 40px;
        font-size: 20px;
      }
    }
    &__right {
      &__image {
        width: 80%;
      }
      .arrows {
        display: flex;
        position: relative;

        &__left {
          left: 50px;
          top: 35rem;
        }
        &__right {
          right: 29px;
          top: 35rem;
        }
      }
    }
  }
}
