.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  flex-direction: column;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f6f7;
    padding: 40px;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-top: 2rem;
    }

    p {
      margin: 2rem;
      text-align: center;
      font-size: 22px;
      width: 70%;
      color: #627680;
    }
  }

  &__mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 2rem;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-top: 2rem;
    }

    p {
      margin: 2rem;
      text-align: center;
      font-size: 3rem;
      width: 70%;
      color: #627680;
      font-family: "open Sans", " sans-serif";
      font-style: italic;
      font-weight: lighter;
    }
  }
}
