.t-wrapper {
  padding: 0 3rem 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 2rem; */
  position: relative;
}

.t-header {
  align-self: center;
}

.t-header > h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.t-header > p {
  color: #627680;
  text-align: center;
  font-size: 20px;
}

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  width: 35rem;
  height: 20rem;
  /* styles same as work.css */
  background: #fff;
  border: 7px solid #627680;
  box-shadow: 0px 19px 60px rgb(0 0 0 / 18%);
  border-radius: 20px;
}

.team-members > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.team-members > h5 {
  color: #1da1f2;
}
.team-members > h3 {
  margin-top: 20px;
  color: #627680;
}
/* slider */
.t-wrapper .swiper {
  width: 100%;
  height: 70%;
}

.t-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
  background: #1da1f2;
}

@media screen and (max-width: 480px) {
  .t-wrapper {
    padding: 0;
  }

  .team-members > img {
    width: 70px;
    height: 70px;
  }
}
