.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 99;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 35px;
    flex: 1;

    &__logo {
      font: 28px;
      cursor: pointer;
      color: #576971;
      text-decoration: none;
      display: flex;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;

      &__item {
        line-height: 40px;
        margin-right: 2rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &__links {
          text-decoration: none;
          padding: 0 10px;
          font-size: 15px;
          color: #7b909a;
        }

        &__links:hover {
          color: #1eb4ff;
        }
      }
    }
  }
  .header-social-links {
    color: #7b909a;
    display: flex;
    gap: 0.5rem;
    font-size: 17px;
    cursor: pointer;
    margin-right: 2rem;

    :hover {
      color: #1eb4ff;
    }
  }
  .nav-icon {
    color: #7b909a;
    cursor: pointer;
    font-size: 5px;
    display:none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar__container__logo {
    margin-top: 0.5px;
    font-size: 15px;
  }
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;

    &.active {
      background: #181818;
      left: 0px;
      opacity: 1;
    }
    &__item {
      border-bottom: 1px solid #282828;
      margin: 0px;
      padding: 20px 0px;
    }
  }
  .nav-icon {
    display: block !important;
    cursor: pointer;
    color: #181818;
    margin-right: 4rem;
  }
}
